body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #222;
}

.main-head h1 {
    font-size: 32px;
    margin-top: 30px;
    color: green;
    text-align: center;
}

.main-head p {
    font-size: 18px;
    line-height: 1.8;
}

main {
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
}

article section {
    margin-bottom: 50px;
}

article h2 {
    color: green;
    font-size: 26px;
    margin-bottom: 15px;
}

article img {
    width: 100%;
    height: 400px;
    margin: 20px 0;
    border-radius: 10px;
}

#introduction p,
#definition p,
#benefits p,
#use-cases p {
    font-size: 17px;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 28px;
    }

    article h2 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    main {
        padding: 15px;
    }

    h1 {
        font-size: 24px;
        text-align: center;
    }

    article h2 {
        font-size: 22px;
    }

    p {
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 22px;
    }

    article h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
        line-height: 1.6;
    }
}